/BackEndDakar/target/
/BackEndDakar - copia/target/
/FrontEndDakar - copia/target/
/BackEndDakarMicroprofile/target/
/FrontEndDakarMicroprofile/target/
/Microprofile/BackEndDakarMicroprofile/target/
/Microprofile/FrontEndDakarMicroprofile/target/
/Sistemas de informacion parte Microprofile/BackEndDakar/target/
/Sistemas de informacion parte Microprofile/FrontEndDakar/target/
/Dasi parte 1/BackEndDakar/target/
/Dasi parte 1/FrontEndDakar/target/
/Sistemas de informacion parte JAXRS y CDI/BackEndDakar/target/
/Sistemas de informacion parte JAXRS y CDI/FrontEndDakar/target/